{% extends 'base.html' %}
{% load static %}


{% block title %}
    <title>About us - Taskmate</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <h1 style="color:red;"><center>{{ about_text }}</center></h1>
        <center><img src="{% static 'images/about.jpg' %}" alt="Notes" class="rounded-lg shadow-sm" class="center" width="500" height="250"></center>
        <center><p class="h1 text-primary">
            The TaskMate Web App helps you to origanize your daily and day to day work in a simplified manner. 
        </p>
        <center><p class="h1 text-success">
            You add, edit, and mark the status of your work through this web app.
            </p>

    </div>
{% endblock content %}
